* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background-image: url(../imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /*  Shorthand - Background
        -   Color > image > repeat > attachment
        */
        background: black url("../imagens/wallpaper002.jpg") no-repeat fixed;
        background-color: rgb(14, 23, 26);
        background-size: cover;
        background-position: center center;
    }
    
    main {
    width: min(800px, 100%);
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid rgb(0, 238, 255);
    border-radius: 10px;
    margin: 25% auto;
}

main p, main h1, main h2 {
    padding: 10px;
}